/* #volunteer-h {
  height: 40vh;
} */

.volunteer-h-contents  {
  width: 80%;
  height: 35vh;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../images/cloud-bg.jpg');
  background-size: cover;
}

.volunteer-h-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(111,128,234, 0.65);
}