/*.catalogcontainerr {
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;    
    padding: 16px 16px; 
}

 /* .catalogcard > div {
    flex: 0 1 33%;
}  */

.catalog {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;  
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 16px 16px; 
            
  }
  

/* .catalogcontainer::after, .row::after {
  content: "";
  clear: both;
  display: table;
} */